
# Configuración del servidor
PORT=3000

# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=usuario
DB_PASS=contraseña
DB_NAME=nombre_de_tu_base_de_datos

# Configuración de JWT (JSON Web Token)
JWT_SECRET=supersecretkey
